<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.dao.impl.QuestionDaoFromFile">
        <constructor-arg name="filename" value="questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.services.impl.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="inputOutputService" class="ru.otus.services.impl.ConsoleInputOutputService"/>

    <bean id="studentDao" class="ru.otus.dao.impl.InMemoryStudentsDaoImpl"/>

    <bean id="studentService" class="ru.otus.services.impl.StudentServiceImpl">
        <constructor-arg name="studentDao" ref="studentDao"/>
    </bean>

    <bean id="application" class="ru.otus.ApplicationStudentTest">
        <constructor-arg name="inputOutputService" ref="inputOutputService"/>
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="studentService" ref="studentService"/>
        <constructor-arg name="testName" value="Capitals of the countries"/>
    </bean>
</beans>
